h1{
    color: white;
    font-style: italic;
    position: absolute fixed;
    padding-top: 30em;
    padding-left: 50em;
}
.Menu{
    height: 100px;
}

.parallax {
    background-image: url("../img/5661939-music-wallpaper-hd.jpg")   ;

    height: 100%;

    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}.parallax2 {
    background-image: url("../img/5661930-music-wallpaper-hd.jpg");

    height: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.Marco{
    background-image: url('../img/marco-redondo.png');
    background-size: cover;
    
    height: 250px;
    width: 250px;
    
    margin-left: 20%
}
.Marco2{
    background-image: url('../img/marco-redondo.png');
    background-size: cover;
    
    height: 250px;
    width: 250px;
    
    margin-right: 80%
}
.Fondo{
    z-index: -1;
    height: 100px;
}
