.MenuSalto{
    padding-bottom: 60px;
    background-color: black;
}
body{
	background-color: black;
}
div h1{
    color: white;
    font-style: italic;
    position: absolute fixed;
    margin-bottom: 50px;
}
.parallax {
    background-image: url("../img/5661939-music-wallpaper-hd.jpg")   ;

    height: 100%;

    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}.parallax2 {
    background-image: url("../img/5661930-music-wallpaper-hd.jpg");

    height: 100%;
    background-attachment: local;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.Marco{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.TextAutores{
    color: white;
    display: block;
    margin-top: 15px;
}
.TextAutores2{
    color: white;
    display: block;
    margin-top: 15px;
    text-align: right;
}
div.Banner{
    background-image: url("../img/BannerFiesta.jpg");
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: cover;
    height: 200px;
    
}
.separador{
	background-color: black;
}
video{
	margin-left: -8px;
	margin-bottom: -4px;
	width: 20%;
}
img{
    background-repeat: no-repeat;
    display: block;
	margin: auto;
	width: 50%;
}


@media screen and (max-width: 480px){
    h1{
        text-align: center;
        background-color: rgba(0,0,0,0.7);
    }
    .Marco{
        width: 50%;        
	}
    .TextAutores{
        background-image: url('../img/backTexto.jpg');
        text-align: center;
        opacity: .8;
    }
}


