body, html {
    height: 100%;
}

body{
font-family: Berlin Sans FB;
}

div {
     cursor:url(arrow.cur), auto;
}
header{

}
.content{
  width: 90%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;

}

.logo{
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
nav{
  position: fixed;
  width: 100%;
 z-index: 1000;
}

nav ul{
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul{
  background: #000;
}

nav ul li{
  display: inline-block;
  padding: 20px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.menu-icon{
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 580px) {
  .logo{
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul{
    background: #000;
  }

  .showing{
    max-height: 20em;
  }

  nav ul li{
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon{
    display: block;
  }
}


.boton_personalizado{
   position: relative;
   top: 520px;
   left: 36%;
   text-decoration: none;
   padding: 10px;
   font-weight: 600;
   font-size: 20px;
   color: #ffffff;
   background-color: rgba(0,0,255,0.1.0);
   border-radius: 6px;
   border: 2px solid #1883ba;
 }
 .boton_personalizado:hover{
   color: #ffffff;
   background-color: #1883ba;
 }

 .boton_personalizado1{
    position: relative;
    top: 520px;
    left: 46%;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: rgba(0,0,255,0.1.0);
    border-radius: 6px;
    border: 2px solid #FF9900;
  }
  .boton_personalizado1:hover{
    color: #ffffff;
    background-color: #FF9900;
  }

.parallax {
    /* The image used */
    background-image: url("B.png");

    /* Full height */
    height: 100%;
    cursor: url(cur3.cur),auto;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
    /* The image used */
    background-image: url("Blueprints Twilight.png");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Info {
  height:1000px;
  background-image: url('girlaud.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size:22px
}
ul.horizontal{
margin:0;
padding:0;
}
ul.horizontal li{
display:block;
float:left;
padding:0 10px;
};
